body{
	background:#B6F;
}
a, hr{
	color:#000;
}
p, a , h1, h3, ol, ul{
	padding:10px;
}
img{
	padding-right: 10px;
}

.clickPic{
	height: 300px;
	width: 240px;
	padding: 0px, 10px, 0px, 10px;
}