/* for background gradient  */
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
div {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 60px;
  color: white;
}

.banner {
  background: url(/background-images/images/stupidcat.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.header {
  /* adding a dark overlay over a picture */
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/background-images/images/stupidcat.jpg) center/cover no-repeat fixed;
}
.colorzilla {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#cedbe9+0,aac5de+17,cedbe9+37,cedbe9+37,6199c7+46,3a84c3+51,419ad6+59,4bb8f0+71,3a8bc2+84,26558b+100 */
  background: rgb(206, 219, 233); /* Old browsers */
  background: -moz-linear-gradient(
    left,
    rgba(206, 219, 233, 1) 0%,
    rgba(170, 197, 222, 1) 17%,
    rgba(206, 219, 233, 1) 37%,
    rgba(206, 219, 233, 1) 37%,
    rgba(97, 153, 199, 1) 46%,
    rgba(58, 132, 195, 1) 51%,
    rgba(65, 154, 214, 1) 59%,
    rgba(75, 184, 240, 1) 71%,
    rgba(58, 139, 194, 1) 84%,
    rgba(38, 85, 139, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    rgba(206, 219, 233, 1) 0%,
    rgba(170, 197, 222, 1) 17%,
    rgba(206, 219, 233, 1) 37%,
    rgba(206, 219, 233, 1) 37%,
    rgba(97, 153, 199, 1) 46%,
    rgba(58, 132, 195, 1) 51%,
    rgba(65, 154, 214, 1) 59%,
    rgba(75, 184, 240, 1) 71%,
    rgba(58, 139, 194, 1) 84%,
    rgba(38, 85, 139, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    rgba(206, 219, 233, 1) 0%,
    rgba(170, 197, 222, 1) 17%,
    rgba(206, 219, 233, 1) 37%,
    rgba(206, 219, 233, 1) 37%,
    rgba(97, 153, 199, 1) 46%,
    rgba(58, 132, 195, 1) 51%,
    rgba(65, 154, 214, 1) 59%,
    rgba(75, 184, 240, 1) 71%,
    rgba(58, 139, 194, 1) 84%,
    rgba(38, 85, 139, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedbe9', endColorstr='#26558b',GradientType=1 ); /* IE6-9 */
}
