body {
  display: flex;
}
div {
  width: 150px;
  height: 150px;
  display: flex;
}
.one {
  background: linear-gradient(red, green);
}
.two {
  background: linear-gradient(to top, red, green);
}
.three {
  background: linear-gradient(to top right, red, purple, blue);
}
.four {
  background: linear-gradient(150deg, red, purple, blue);
}
.five {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9));
}
.six {
  background: linear-gradient(
    to top right,
    rgba(255, 255, 255, 0.3),
    rgba(201, 16, 16, 0.9)
  );
}
